/* Код для десктопного режима */

.employee-row {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.employee-details {
    order: 1;
    text-align: left;
}

.employee-row .employee-photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.left-align .employee-details {
    text-align: left;
}

.left-align .employee-photo {
    background-image: url("https://picsum.photos/200/300");
}

.right-align .employee-details {
    text-align: right;
    margin-left: auto;
}

.right-align .employee-photo {
    background-image: url("https://picsum.photos/200/300");
    margin-left: 20px;
    order: 2;
}

.employee-photo::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/* Код для мобильного режима */
@media (max-width: 768px) {
    .employee-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .employee-details {
        order: 2;
        text-align: center;
    }

    .employee-row .employee-photo {
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .left-align .employee-details,
    .right-align .employee-details {
        text-align: center;
    }

    .left-align .employee-photo,
    .right-align .employee-photo {
        margin: 0;
    }

    .employee-details {
        width: 100%;
    }

    .employee-row .employee-photo {
        order: 0;
        margin-bottom: 10px;
    }

    .employee-row .employee-details:nth-child(even) {
        order: -1;
    }

    .employee-row .employee-photo:nth-child(even) {
        order: -2;
    }

    .employee-row {
        justify-content: center;
    }
}
